<form action='/creatures/<%= @creature.id %>' method='post'>
	<input type="hidden" name="_method" value="put"> 
	<label> Name: </label>
	<input type='text' name='creature[name]' value='<%= @creature.name %>'><br>
	<label> Description: </label>
	<textarea type='text' name='creature[description]'><%= @creature.description %></textarea>
	<br>
	<%= token_tag form_authenticity_token %>

	<button> Update Creature </button>
</form>