<form action='/creatures' method='post'>
	<label> Name: </label>
	<input type='text' name='creature[name]'><br>
	<label> Description: </label>
	<textarea type='text' name='creature[description]'></textarea><br>
	<%= token_tag form_authenticity_token %>

	<button> Save Creature </button>
</form>